.summer-program-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.summer-program-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #153446;
}
.summer-program-navlink {
  display: contents;
}
.summer-program-image {
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.summer-program-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.summer-program-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.summer-program-text {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.summer-program-navlink01 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.summer-program-navlink02 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.summer-program-navlink03 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.summer-program-navlink04 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.summer-program-navlink05 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.summer-program-navlink06 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.summer-program-navlink07 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.summer-program-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.summer-program-register {
  color: var(--dl-color-gray-white);
  text-decoration: none;
  background-color: #102632;
}
.summer-program-burger-menu {
  display: none;
}
.summer-program-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.summer-program-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.summer-program-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.summer-program-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.summer-program-navlink08 {
  display: contents;
}
.summer-program-logo {
  height: 2rem;
  text-decoration: none;
}
.summer-program-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.summer-program-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.summer-program-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.summer-program-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.summer-program-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.summer-program-navlink11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.summer-program-navlink12 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.summer-program-navlink13 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.summer-program-navlink14 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.summer-program-navlink15 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.summer-program-navlink16 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.summer-program-buttons1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.summer-program-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.summer-program-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  justify-content: center;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c4ebf289-f744-43c1-8d50-ce5fbf432fba/dg1w0q6-248f879c-2665-4c64-a38a-7edea7204307.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2M0ZWJmMjg5LWY3NDQtNDNjMS04ZDUwLWNlNWZiZjQzMmZiYVwvZGcxdzBxNi0yNDhmODc5Yy0yNjY1LTRjNjQtYTM4YS03ZWRlYTcyMDQzMDcuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.PuDOoTVkkT2Cuzw1OGRu4kNUh8Cu8PkMhdXGRj7o_mo');
}
.summer-program-text003 {
  color: #ffffff;
}
.summer-program-container02 {
  width: 100%;
  height: 289px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-900);
}
.summer-program-text008 {
  align-self: center;
}
.summer-program-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.summer-program-step {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.summer-program-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.summer-program-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.summer-program-container05 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.summer-program-icon04 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.summer-program-line1 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.summer-program-container06 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.summer-program-text012 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.summer-program-text015 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.summer-program-step1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.summer-program-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.summer-program-line2 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.summer-program-container08 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.summer-program-icon06 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.summer-program-line3 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.summer-program-container09 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.summer-program-text018 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.summer-program-text019 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.summer-program-step2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.summer-program-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.summer-program-line4 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.summer-program-container11 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.summer-program-icon08 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.summer-program-line5 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.summer-program-container12 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.summer-program-text022 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.summer-program-text023 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.summer-program-step3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.summer-program-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.summer-program-line6 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.summer-program-container14 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.summer-program-icon11 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.summer-program-line7 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.summer-program-container15 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.summer-program-text026 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.summer-program-text027 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.summer-program-container16 {
  width: 100%;
  height: 662px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #0f4d6b;
}
.summer-program-iframe {
  width: 681px;
  height: 367px;
}
.summer-program-text030 {
  color: #CAE9FF;
  margin: var(--dl-space-space-unit);
  font-size: 20px;
}
.summer-program-container17 {
  width: 100%;
  height: 957px;
  display: flex;
  align-items: center;
  margin-bottom: 347px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.summer-program-text038 {
  margin-left: 40px;
  margin-right: 40px;
}
.summer-program-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.summer-program-text107 {
  color: var(--dl-color-gray-black);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.summer-program-blog {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.summer-program-container18 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.summer-program-container19 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.summer-program-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.summer-program-blog-post-card:hover {
  transform: scale(1.02);
}
.summer-program-link {
  display: contents;
}
.summer-program-image1 {
  width: 188px;
  height: 83px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}
.summer-program-container20 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.summer-program-blog-post-card1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.summer-program-blog-post-card1:hover {
  transform: scale(1.02);
}
.summer-program-link1 {
  display: contents;
}
.summer-program-image2 {
  width: 200px;
  object-fit: cover;
  margin-left: 60px;
  margin-right: 60px;
  text-decoration: none;
}
.summer-program-container21 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.summer-program-blog-post-card2 {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.summer-program-blog-post-card2:hover {
  transform: scale(1.02);
}
.summer-program-link2 {
  display: contents;
}
.summer-program-image3 {
  width: 200px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  text-decoration: none;
}
.summer-program-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.summer-program-container22 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.summer-program-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.summer-program-link3 {
  display: contents;
}
.summer-program-icon13 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.summer-program-link4 {
  display: contents;
}
.summer-program-icon15 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.summer-program-link5 {
  display: contents;
}
.summer-program-icon17 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
@media(max-width: 1200px) {
  .summer-program-desktop-menu {
    display: none;
  }
  .summer-program-burger-menu {
    display: flex;
  }
  .summer-program-container16 {
    height: 586px;
  }
  .summer-program-text030 {
    margin: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .summer-program-container16 {
    height: 629px;
  }
  .summer-program-blog {
    flex-direction: column;
  }
  .summer-program-container19 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .summer-program-container20 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .summer-program-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .summer-program-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .summer-program-navlink09 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .summer-program-navlink10 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .summer-program-navlink11 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .summer-program-navlink12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .summer-program-navlink13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .summer-program-navlink14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .summer-program-navlink15 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .summer-program-navlink16 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .summer-program-container03 {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .summer-program-step {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .summer-program-container04 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .summer-program-line1 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .summer-program-container06 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .summer-program-text012 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .summer-program-text015 {
    text-align: left;
  }
  .summer-program-step1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .summer-program-container07 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .summer-program-line2 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .summer-program-line3 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .summer-program-container09 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .summer-program-text018 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .summer-program-text019 {
    text-align: left;
  }
  .summer-program-step2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .summer-program-container10 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .summer-program-line4 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .summer-program-line5 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .summer-program-container12 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .summer-program-text022 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .summer-program-text023 {
    text-align: left;
  }
  .summer-program-step3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .summer-program-container13 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .summer-program-line6 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .summer-program-line7 {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .summer-program-container15 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .summer-program-text026 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .summer-program-text027 {
    text-align: left;
  }
  .summer-program-iframe {
    width: 634px;
    height: 325px;
  }
  .summer-program-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .summer-program-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .summer-program-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .summer-program-container22 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .summer-program-text110 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .summer-program-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .summer-program-mobile-menu {
    height: 404px;
    padding: 16px;
  }
  .summer-program-container03 {
    padding-left: 0px;
  }
  .summer-program-container06 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .summer-program-text012 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .summer-program-container09 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .summer-program-text018 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .summer-program-container12 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .summer-program-text022 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .summer-program-container15 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .summer-program-text026 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .summer-program-iframe {
    width: 478px;
    height: 273px;
  }
  .summer-program-footer {
    padding: var(--dl-space-space-unit);
  }
  .summer-program-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .summer-program-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .summer-program-container22 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .summer-program-text110 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
